# Practice Exercises for Single Table SQL

Given a dataset and a set of questions, form the queries to answer the questions. All questions in this particular exercise only require a query to a single table. 

⚠️ *Note:* Please display minimal number of attributes (columns) needed to make sense of your answer. Not too many, not too few.

## Setup
The SQLite database for these exercises has been setup for you. For the curious, you can look at this file for the DDL commands to setup the tables and insert data.  `db_illum_ddl_5_3.sql`

Here is the schema for the database. The arrows show foreign keys, which is just fyi for now. 

![worker_project schema](worker_project_schema.png)

In [1]:
# Make sure to always run this cell when you open this notebook
# Start the Jupyter SQL engine, connecting to a SQLite database 
%reload_ext sql 
%sql sqlite:///worker_project.db

0. In the command line, inspect the sqlite database (worker_project.db) to see what the tables and columns actually are. Any differences you observe? (Also, copy past your output in the cell below)

In [2]:
%reload_ext sql 
%sql sqlite:///worker_project.db

1. Get the names of all workers in the Accounting department.

In [27]:
%%sql
SELECT firstname, lastname FROM Worker WHERE deptName LIKE "Accounting"

 * sqlite:///worker_project.db
Done.

[('Tom', 'Smith'), ('Mary', 'Jones'), ('Jane', 'Burns')]

2. Get the name of the employee in the Research department who has the lowest salary.

In [29]:
%%sql
SELECT firstname, lastname, MIN(salary) FROM Worker WHERE deptName LIKE "Research"

 * sqlite:///worker_project.db
Done.

[('Amanda', 'Chin', 60000)]

3. Get the details of the project with the highest budget.

In [54]:
%%sql
SELECT projNo, projName, projMgrId, MAX(budget), startDate, expectedDurationWeeks FROM Project

 * sqlite:///worker_project.db
Done.

[(1025, 'Neptune', 110, 600000, '01-Feb-2021', 45)]

## The following questions may require more than one query to answer. 
Show your work! Add as many SQL cells as needed for each question. Use comments to indicate how the output of each query is used to arrive at your answer.

4. List out alphabetically the names of all workers working on Project 1001.

In [79]:
%%sql
SELECT * FROM Project

 * sqlite:///worker_project.db
Done.

[(1001, 'Jupiter', 101, 300000, '01-Feb-2021', 50),
 (1005, 'Saturn', 101, 400000, '01-Jun-2022', 35),
 (1019, 'Mercury', 110, 350000, '15-Feb-2022', 40),
 (1025, 'Neptune', 110, 600000, '01-Feb-2021', 45),
 (1030, 'Pluto', 110, 380000, '15-Sep-2023', 50)]

5. Get an alphabetical list of names and corresponding ratings for all workers on any project managed by Michael Burns.

In [91]:
%%sql
SELECT projName, projNo
FROM Project

 * sqlite:///worker_project.db
Done.

[('Jupiter', 1001),
 ('Saturn', 1005),
 ('Mercury', 1019),
 ('Neptune', 1025),
 ('Pluto', 1030)]

6. For all projects starting after Feb 1, 2022, find the project number and names of all workers assigned to them.

In [77]:
%%sql
select * from Project where startDate > "01/01/2022"

 * sqlite:///worker_project.db
Done.

[(1019, 'Mercury', 110, 350000, '15-Feb-2022', 40),
 (1030, 'Pluto', 110, 380000, '15-Sep-2023', 50)]

7. Find the names of employees who are not assigned as managers any project.

In [86]:
%%sql
select * from Worker

 * sqlite:///worker_project.db
Done.

[(101, 'Smith', 'Tom', 'Accounting', '01-Feb-1970', '06-Jun-1993 ', 50000),
 (103, 'Jones', 'Mary', 'Accounting', '15-Jun-1975', '20-Sep-2005', 48000),
 (105, 'Burns', 'Jane', 'Accounting', '21-Sep-1980', '12-Jun-2015', 39000),
 (110, 'Burns', 'Michael', 'Research', '05-Apr-1977', '10-Sep-2020', 70000),
 (115, 'Chin', 'Amanda', 'Research', '22-Sep-1980', '19-Jun-2022', 60000)]

8. Find details of any project with the string "urn" in the project name.

In [80]:
%%sql
Select * from Project where projName like '%urn%'

 * sqlite:///worker_project.db
Done.

[(1005, 'Saturn', 101, 400000, '01-Jun-2022', 35)]

9. List out the projects from most to least efficient. (hint: the project with the lowest budget is not necessarily the one that uses time and human resources effectively.)

In [ ]:
%%sql

10. Explain your reasoning for your solution to #9 (use a Markdown cell), including who should get the award for Most Efficient Project Manager.

In [ ]:
%%sql
" I'll write this out later in lab...  "

11. Bonus!!  A Query that you can't easily answer with just a set of queries: Get a list of project numbers with name and start dates, of all the projects that have the same start date as another. 
*you don't have to answer this, but think about it!*

In [95]:
%%sql
select projno, projname, startdate
from project p
where startdate = (select startDate from project p)

 * sqlite:///worker_project.db
Done.

[(1001, 'Jupiter', '01-Feb-2021'), (1025, 'Neptune', '01-Feb-2021')]

## Submission:

Commit and push your changes to this document by the deadline, and share a link to the repository in the Moodle assignment.